html,
body {
  height: 100%;
  width: 100%;
}
body {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  flex-wrap: wrap;
  font-family: Helvetica;
}

/* The sidebar menu */
.sidenav {
  flex-basis: 250px; /* Set the width of the sidebar */
  /* flex-grow: 1; */
  height: 100%; /* Full-height: remove this if you want "auto" height */
  position: relative; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  background-color: #57068c; /* NYU Purple */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding: 10px;
  min-width: 250px;
  float: left;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* The navigation menu links */
.sidenav a {
  text-decoration: none;
  font-size: 16px;
  color: #ffffff;
  display: block;
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #ce4545;
}

.main {
  padding: 20px;
  flex-basis: 0;
  flex-grow: 999;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chatnav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  flex-basis: 400px; /* Set the width of the sidebar */
  position: relative; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  /* left: 250px; */
  background-color: #ffffff; /* NYU Purple */
  overflow-x: hidden; /* Disable horizontal scroll */
  /* float: left; */
  /* display: flex; */
  flex-direction: column;
}

/* .chatwindow {
  position: absolute;
  top: 50;
  bottom: 50;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  padding: 30px;
} */

.form-signin {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  margin: auto;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

.logo {
  width: 175px;
  height: 175px;
}
#myUL {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}
#myInput {
  background-image: url("/css/searchicon.png"); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

@import url(https://fonts.googleapis.com/css?family=Fjalla+One);

.title-text {
  text-align: center;
}

.title-text span.letters {
  font-size: 4rem;
}

.letters {
  color: #57068c;
  text-shadow: 2px 2px 6px #333;
  animation: color-changer 5s infinite;
  transition: color-changer ease-in-out;
  @for $i from 1 through 7 {
    &:nth-of-type(#{$i}) {
      animation-delay: #{$i * 50}ms;
    }
  }
}

@keyframes color-changer {
  33% {
    color: #57068c;
  }
  /* #EE0BF5 cctv*/
  66% {
    color: #b700ff;
  }
  /* #00CCFF marine */
  100% {
    color: #57068c;
  }
  /* #66F50B radio */
}

@-webkit-keyframes color-changer {
  33% {
    color: #57068c;
  }
  /* #EE0BF5 cctv*/
  66% {
    color: #b700ff;
  }
  /* #00CCFF marine */
  100% {
    color: #57068c;
  }
  /* #66F50B radio */
}
